Repository player217/Entrip: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

Remove GitHub workflows (requires workflow scope)
  .github/workflows/api-ci.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci-recommended.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/e2e.yml
  .github/workflows/flight-verify.yml
  .github/workflows/metrics.yml
  .github/workflows/release.yml
  .github/workflows/rotate-slack-secret.yml
  .github/workflows/route-check.yml
  .github/workflows/smoke-test.yml
Due: none

Restore GitHub workflows and add Git configuration guide
  .claude/CLAUDE.md
  .claude/settings.local.json
  .github/workflows/api-ci.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci-recommended.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-canary.yml
  .github/workflows/e2e.yml
  .github/workflows/flight-verify.yml
  .github/workflows/metrics.yml
  .github/workflows/release.yml
  .github/workflows/rotate-slack-secret.yml
  .github/workflows/route-check.yml
  .github/workflows/smoke-test.yml
Due: prettier --write

feat: 완전한 데이터 무결성 시스템 구현
  apps/api/prisma/migrations/20250826000000_add_data_integrity_models/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.ts
  apps/api/src/lib/idempotency.ts
  apps/api/src/lib/outbox-dispatcher.ts
  apps/api/src/routes/booking.route.ts
  apps/api/src/services/booking.service.ts
  apps/api/tests/data-integrity.spec.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

feat: 완전한 외부 API 통합 복원력 시스템 구현
  apps/api/prisma/schema.prisma
  apps/api/src/integrations/README.md
  apps/api/src/integrations/flights/flights.service.ts
  apps/api/src/integrations/flights/flights.types.ts
  apps/api/src/integrations/fx/fx.service.ts
  apps/api/src/integrations/fx/fx.types.ts
  apps/api/src/integrations/integration.test.ts
  apps/api/src/lib/circuit-breaker.ts
  apps/api/src/lib/http-client.ts
  apps/api/src/metrics/integrations.ts
  apps/api/src/middleware/external-logging.ts
  apps/api/src/routes/health.route.ts
  apps/api/src/routes/integration-example.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

feat: 포괄적인 데이터 관리 시스템 구현
  .claude/settings.local.json
  apps/api/docs/DATA_INTEGRITY_GUIDE.md
  apps/api/prisma/migrations/20250826010000_add_comprehensive_checks/migration.sql
  apps/api/prisma/migrations/20250826020000_add_optimistic_locking/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.ts
  apps/api/src/lib/data-archiving.ts
  apps/api/src/lib/database-utils.ts
  apps/api/src/routes/data-health.route.ts
  apps/api/src/tests/data-integrity.test.ts
  docker-compose.pgbouncer.yml
  docker/pgbouncer/pgbouncer.ini
  docker/pgbouncer/userlist.txt
  gpt5/새 텍스트 문서 (2).txt
  gpt5/새 텍스트 문서.txt
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

feat(api): Phase 2C - OpenAPI generation and documentation infrastructure
  apps/api/.spectral.yml
  apps/api/openapi/openapi.json
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/middleware/api-error.ts
  apps/api/src/middleware/request-id.ts
  apps/api/src/openapi/generator.ts
  apps/api/src/openapi/simple-generator.ts
  apps/api/src/routes/docs.route.ts
  apps/api/src/schemas/booking.schema.ts
  apps/api/src/schemas/common.schema.ts
  apps/api/tests/openapi-integration.spec.ts
  apps/api/tests/schema-validation.spec.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

feat: Complete Phase 2A respond middleware implementation
  apps/api/src/app.ts
  apps/api/src/middleware/respond.ts
  apps/api/src/routes/booking-2a.route.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

feat: Apply recommended Phase 2A improvements
  apps/api/src/app.ts
  apps/api/src/middleware/respond.ts
  apps/api/src/routes/booking-2a.route.ts
  apps/api/src/routes/docs.route.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

fix(docs): mount docs router at /api/docs to avoid route shadowing
  apps/api/src/app.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

chore(docs): add /api/openapi.json alias for backward compatibility
  apps/api/src/app.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

fix(error): map ApiError to proper HTTP status (412/428) instead of 500
  apps/api/src/app.ts
  apps/api/src/middleware/errorHandler.ts
  apps/api/src/routes/test-database.route.ts
  apps/api/src/routes/test-respond.route.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

fix: Resolve calendar controlled state and URL synchronization issues
  apps/api/prisma/seed-j1-enhanced-2025.ts
  apps/api/src/modules/booking/booking.controller.ts
  apps/api/src/modules/booking/booking.service.ts
  apps/api/src/routes/auth-simple.ts
  apps/api/src/routes/booking-2a.route.ts
  apps/api/src/routes/booking.route.ts
  apps/web/.eslintrc.json
  apps/web/app/(main)/layout.tsx
  apps/web/app/(main)/reservations/page.tsx
  apps/web/app/api/auth/login/route.ts
  apps/web/app/api/bookings/route.ts
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/src/components/pages/ReservationsPageContent.tsx
  apps/web/src/features/bookings/api.ts
  apps/web/src/hooks/useBookings.ts
  apps/web/src/lib/socket.ts
  cookies.txt
  web-cookies.txt
  websocket-test.html
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

fix: Achieve TypeScript 0 errors for production readiness
  apps/web/next.config.js
  apps/web/src/components/pages/MainPageContent.tsx
  apps/web/src/components/pages/WorkspacePageWrapper.tsx
  apps/web/src/utils/booking-helpers.ts
  apps/web/tsconfig.json
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

fix: Resolve critical runtime errors and enhance type safety
  apps/web/next.config.js
  apps/web/src/features/calendar/ReservationListView.tsx
  apps/web/src/lib/socket.ts
  apps/web/src/stores/reservationViewStore.ts
  packages/ui/src/components/compounds/QuickBookingModal/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

restore: Recover deleted calendar components from git history
  apps/web/app/(main)/reservations/page.tsx
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/features/calendar/MonthlyCalendarView.tsx
  apps/web/src/features/calendar/MonthlyListPage.tsx
  apps/web/src/features/calendar/ReservationListView.tsx
  apps/web/src/features/calendar/WeeklyListPage.tsx
Due: eslint --fix, pnpm -w run build:ts --noEmit

fix: 임시 조치 해결 및 시스템 안정성 개선
  TEMPORARY_WORKAROUNDS_FIXED.md
  apps/api/src/app.ts
  apps/api/src/routes/data-health.route.ts
  apps/api/src/routes/test-outbox.route.ts
  apps/api/src/services/alert.service.ts
  apps/api/src/utils/check-outbox-ready.ts
  apps/web/app/(main)/calendar-week/page.tsx
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

fix: Replace mock authentication with real database authentication
  apps/api/scripts/generate-password-hash.js
  apps/api/scripts/insert-real-users.sql
  apps/api/scripts/update-passwords.sql
  apps/api/src/data/mock-users.json
  apps/api/src/routes/auth-simple.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

fix: Resolve TypeScript build errors
  apps/api/src/routes/monitoring-dashboard.route.ts
  apps/api/src/routes/schema-health.route.ts
  apps/web/app/(main)/calendar-monthly/page.tsx
  pnpm-lock.yaml
Due: eslint --fix, pnpm -w run build:ts --noEmit

feat: Complete September 2025 database seeding and rebuild system
  apps/web/app/(main)/calendar-monthly/page.tsx
Due: eslint --fix, pnpm -w run build:ts --noEmit

docs: Add database schema analysis verification results
  .claude/CLAUDE.md
Due: prettier --write

fix: 인증 시스템 및 데이터 가시성 문제 해결
  apps/api/prisma/schema.prisma
  apps/api/src/routes/auth-simple.ts
  apps/web/app/login/page.tsx
Due: eslint --fix, pnpm -w run build:ts --noEmit

chore(v1): align legacy paths in configs/scripts and finalize moved files
  apps/api-legacy/Dockerfile
  apps/api-legacy/Dockerfile.dev
  apps/api-legacy/cookies.txt
  apps/api-legacy/prisma/seed.ts
  apps/api-legacy/src/crawler/flight_data/korean_flight_schedules.json
  apps/api-legacy/src/crawler/korean_flight_schedules.json
  apps/api-legacy/src/crawler/pus_flights_test.json
  apps/api-legacy/src/integrations/fx/fx.service.ts
  apps/api-legacy/src/middleware/security.middleware.ts
  apps/api-legacy/src/routes/auth-simple.ts
  apps/api/cookies.txt
  apps/api/src/crawler/flight_data/korean_flight_schedules.json
  apps/api/src/crawler/korean_flight_schedules.json
  apps/api/src/crawler/pus_flights_test.json
  docker-compose.local.yml
  docs/TESTING.md
  readme.md
  scripts/README.md
  scripts/auto-fix.sh
  scripts/prisma-status.sh
  scripts/production-final-test.sh
  scripts/setup-database.sh
  scripts/test-gate-g2-final.sh
  scripts/test-production-simple.sh
  scripts/troubleshoot-wsl.sh
  scripts/validate-wsl-environment.sh
  tsconfig.json
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

chore(repo): add submodule metadata and tighten temp artifact ignores
  .gitignore
  .gitmodules
  C:UsersPCDocumentsprojectEntripdocsdb_tables_list.txt
Due: none

chore(test): stop tracking junit xml artifacts
  .gitignore
  apps/web/reports/junit/junit.xml
  packages/api/reports/junit/junit.xml
  packages/shared/reports/junit/junit.xml
  packages/ui/reports/junit/junit.xml
Due: none

chore(repo): ignore dirty state for mcp submodule
  .gitmodules
Due: none

chore(repo): drop invalid nul path and ignore local scratch files
  .gitignore
  nul
Due: none

fix(risk): harden nav fallback, seed accounts, and export dependency path
  apps/web/src/components/layout/AppFrame.tsx
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/tsconfig.json
  packages/api/prisma/seed.ts
  packages/ui/src/components/compounds/BookingTableExport.tsx
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

fix(prisma): generate client from packages/api schema in root postinstall
  package.json
Due: prettier --write

fix(ci): align legacy API paths and prisma generation scripts
  .github/workflows/ci-cd.yml
  .github/workflows/data-consistency-check.yml
  .github/workflows/flight-verify.yml
  .github/workflows/smoke-test.yml
  package.json
  packages/api/package.json
Due: prettier --write

fix(ci): update canary workflow to api-legacy path
  .github/workflows/deploy-canary.yml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  pnpm -w run build:ts --noEmit: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{md,html,css,json}
