Repository player217/Entrip: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["eslint --fix", "pnpm -w run build:ts --noEmit"],
  "**/*.{md,html,css,json}": ["prettier --write"]
}

chore(cutover): harden v2 schema and smoke gates
  scripts/smoke-v2-endpoints.mjs
  scripts/verify-v2-schema.mjs
Due: none

ci(cutover): enforce v2 schema and proxy contract gates
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  package.json
Due: prettier --write

docs(cutover): add smoke knobs and risk response checklist
  docs/V2_MIGRATION_CHECKLIST.md
Due: prettier --write

fix(cutover): repair compose encoding and guard one-shot migration indexes
  docker-compose.dev.yml
  docs/V2_MIGRATION_CHECKLIST.md
  packages/api/prisma/migrations/20251020_one_shot_align/migration.sql
Due: prettier --write

ops(cutover): enforce v2 required gates and add rebuild runbook
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/v2-cutover-gates.yml
  docs/V1_DECOMMISSION_CHECKLIST.md
  docs/V2_RUNTIME_REBUILD_RUNBOOK.md
  package.json
  scripts/rebuild-v2-stack.ps1
Due: prettier --write

test(web): add proxy contract coverage for exchange and messages
  apps/web/app/api/exchange/__tests__/route.v2-priority.test.ts
  apps/web/app/api/messages/[...path]/__tests__/route.proxy-contract.test.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

test(web): expand v2 proxy contracts for flights and team-bookings
  apps/web/app/api/v2/[...path]/__tests__/flights.v2-routing.test.ts
  apps/web/app/api/v2/team-bookings/[id]/__tests__/route.proxy-contract.test.ts
  apps/web/app/api/v2/team-bookings/__tests__/route.proxy-contract.test.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

test(web): add v2 routing contracts for notifications and metrics
  apps/web/app/api/v2/[...path]/__tests__/notifications-metrics.v2-routing.test.ts
Due: eslint --fix, pnpm -w run build:ts --noEmit

docs(cutover): sync checklists with latest local gate evidence
  docs/V1_DECOMMISSION_CHECKLIST.md
  docs/V2_MIGRATION_CHECKLIST.md
Due: prettier --write

docs(cutover): record local db schema verification pass
  docs/V1_DECOMMISSION_CHECKLIST.md
  docs/V2_MIGRATION_CHECKLIST.md
Due: prettier --write

ops(cutover): add multi-target v2 gate verification runner
  docs/V1_DECOMMISSION_CHECKLIST.md
  docs/V2_MIGRATION_CHECKLIST.md
  package.json
  scripts/config/v2-gate-targets.example.json
  scripts/config/v2-gate-targets.local.json
  scripts/verify-v2-targets.ps1
Due: prettier --write

ci(cutover): add daily staging-prod v2 evidence workflow
  .github/workflows/v2-cutover-daily-evidence.yml
  docs/V1_DECOMMISSION_CHECKLIST.md
  docs/V2_MIGRATION_CHECKLIST.md
  package.json
Due: prettier --write

ops(cutover): add secrets preflight check for daily evidence workflow
  docs/V1_DECOMMISSION_CHECKLIST.md
  docs/V2_EVIDENCE_SECRETS_SETUP.md
  docs/V2_MIGRATION_CHECKLIST.md
  scripts/check-v2-evidence-secrets.ps1
Due: prettier --write

ops(cutover): add bulk secret apply helper for evidence workflow
  docs/V2_EVIDENCE_SECRETS_SETUP.md
  scripts/config/v2-evidence-secrets.local.example.json
  scripts/set-v2-evidence-secrets.ps1
Due: prettier --write

fix(ops): use JSON secret listing in preflight checker
  scripts/check-v2-evidence-secrets.ps1
Due: none

ci: fix pnpm setup order dependency and api-v2 docker prisma path
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/data-consistency-check.yml
  .github/workflows/full-tests.yml
  .github/workflows/v2-cutover-gates.yml
  packages/api/Dockerfile.dev
Due: none

ci: refresh lockfile and replace deprecated upload-artifact v3
  .github/workflows/ci-recommended.yml
  .github/workflows/data-consistency-check.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  pnpm-lock.yaml
Due: none

ci(cutover): add missing verify-v2-cutover script
  scripts/verify-v2-cutover.mjs
Due: none

ci(v2): satisfy cutover gates and switch type-check to project build
  apps/fx-free/server.js
  apps/web/app/api/auth/logout/route.ts
  apps/web/app/api/auth/verify/route.ts
  apps/web/app/api/bookings/[...path]/route.ts
  docker-compose.prod.yml
  package.json
  tsconfig.base.json
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write

ci(typecheck): constrain solution scope and fix web/ui compile blockers
  apps/web/app/login/page.tsx
  apps/web/src/hooks/useBookings.ts
  apps/web/tsconfig.json
  package.json
  packages/api/src/routes/team-bookings/team-bookings.route.ts
  packages/ui/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: eslint --fix, pnpm -w run build:ts --noEmit, prettier --write
